<div
  class="lg:bg-gradient-to-r lg:from-blue-100 lg:via-blue-200 lg:to-blue-300/10 lg:hover:bg-gradient-to-br lg:focus:ring-4 lg:focus:outline-none lg:focus:ring-blue-300 lg:dark:focus:ring-blue-400 lg:border-solid lg:border-2 lg:border-gray-700 lg:rounded-3xl lg:mt-5 lg:p-5"
>
  <app-title></app-title>
  <div class="p-5">
    <app-sub-title title="Obra Items"></app-sub-title>


      <form action="" [formGroup]="styleForm" class="max-w-sm mx-auto">
        <div class="flex flex-row my-6 sm:my-10">
          <label
            for="style"
            class="mb-2 text-sm font-medium text-gray-900 w-16 lg:w-24"
            >Estilo Artistico</label
          >
          <div class="flex flex-col w-full">
            <select
              formControlName="styleType"
              id="styleType"
              name="styleType"
              (change)="onChangeStyle($event)"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 lg:p-2.5"
            >
              <option *ngFor="let opcion of opciones" [value]="opcion">
                {{ opcion }}
              </option>
            </select>

            <div
              class="text-red-700"
              *ngIf="
              styleForm.controls['styleType'].invalid &&
                (styleForm.controls['styleType'].touched ||
                  isFormStyle ||
                  styleForm.controls['styleType'].dirty)
              "
            >
              <span
                *ngIf="styleForm.controls['styleType'].errors?.['required']"
                >Este Campo es Obligatorio</span
              >
            </div>

            <input
              *ngIf="styleForm.controls['styleType'].value === 'Otro'"
              type="text"
              id="otherStyle"
              name="otherStyle"
              formControlName="otherStyle"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-3"
              placeholder="Escribe tu estilo"
            />
          </div>
        </div>
      </form>
      <form action="" [formGroup]="tecForm" class="max-w-sm mx-auto">
        <div class="flex flex-row my-6 sm:my-10">
          <label
            for="tec"
            class="mb-2 text-sm font-medium text-gray-900 w-16 lg:w-24"
            >Tenica</label
          >
          <div class="flex flex-col w-full">
            <select
              id="tec"
              name="tec"
              formControlName="tec"
              (change)="onChangeTec($event)"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 lg:p-2.5"
            >
              <option *ngFor="let opcion of opciones" [value]="opcion">
                {{ opcion }}
              </option>
            </select>
            <div
              class="text-red-700"
              *ngIf="
              tecForm.controls['tec'].invalid &&
                (tecForm.controls['tec'].touched ||
                  isFormTec ||
                  tecForm.controls['tec'].dirty)
              "
            >
              <span *ngIf="tecForm.controls['tec'].errors?.['required']"
                >Este Campo es Obligatorio</span
              >
            </div>

            <input
              *ngIf="tecForm.controls['tec'].value === 'Otro'"
              type="text"
              id="otherTec"
              name="otherTec"
              formControlName="otherTec"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-3"
              placeholder="Escribe tu estilo"
            />
          </div>
        </div>
      </form>
      <form action="" [formGroup]="typeWorkForm" class="max-w-sm mx-auto">
        <div class="flex flex-row my-6 sm:my-10">
          <label
            for="typeWork"
            class="mb-2 text-sm font-medium text-gray-900 w-16 lg:w-24"
            >Tipo de obra</label
          >
          <div class="flex flex-col w-full">
            <select
              id="typeWork"
              name="typeWork"
              formControlName="typeWork"
              (change)="onChangeTypeWork($event)"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 lg:p-2.5"
            >
              <option *ngFor="let opcion of opciones" [value]="opcion">
                {{ opcion }}
              </option>
            </select>
            <div
              class="text-red-700"
              *ngIf="
              typeWorkForm.controls['typeWork'].invalid &&
                (typeWorkForm.controls['typeWork'].touched ||
                  isFormType ||
                  typeWorkForm.controls['typeWork'].dirty)
              "
            >
              <span
                *ngIf="typeWorkForm.controls['typeWork'].errors?.['required']"
                >Este Campo es Obligatorio</span
              >
            </div>

            <input
              *ngIf="typeWorkForm.controls['typeWork'].value === 'Otro'"
              type="text"
              id="otherWorkType"
              name="otherTypeWork"
              formControlName="otherTypeWork"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-3"
              placeholder="Escribe tu estilo"
            />
          </div>
        </div>
      </form>

    <div class="flex justify-around items-end mt-auto">
      <app-button-custom
        (click)="back()"
        buttonText="Atras"
        route="/work"
        [typeButton]="false"
      ></app-button-custom>
      <app-button-custom
        (click)="onSubmit()"
        buttonText="Continuar"
        route="/work-surface"
        [typeButton]="true"
      ></app-button-custom>
    </div>
  </div>
</div>
