<div class="lg:bg-gradient-to-r lg:from-blue-100 lg:via-blue-200 lg:to-blue-300/10 lg:hover:bg-gradient-to-br lg:focus:ring-4 lg:focus:outline-none lg:focus:ring-blue-300 lg:dark:focus:ring-blue-400 lg:border-solid lg:border-2 lg:border-gray-700 lg:rounded-3xl lg:mt-5 lg:p-5">
  <app-title></app-title>
<div class="p-5">
  <app-sub-title title="Obra"></app-sub-title>

  <div>
    <form class="max-w-sm mx-auto" [formGroup]="workForm">
      <div class="my-6 sm:my-10">
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900"
          >Titulo</label
        >
        <input
          type="text"
          id="title"
          name="title"
          formControlName="title"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Titulo"
          required
        />
        <div
          class="text-red-700"
          *ngIf="
            workForm.controls['title'].invalid &&
            (workForm.controls['title'].touched ||
              isFormSubmitted ||
              workForm.controls['title'].dirty)
          "
        >
          <span *ngIf="workForm.controls['title'].errors?.['required']"
            >Este Campo es Obligatorio</span
          >
        </div>
      </div>
      <div class="my-6 sm:my-10">
        <label
          for="dateCreate"
          class="block mb-1 text-sm font-medium text-gray-900"
          >Fecha de creacion</label
        >
        <span class="text-xs text-orange-900">Si se conoce*</span>
        <input
          type="date"
          id="dateCreate"
          name="dataCreate"
          formControlName="dataCreate"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        />
      </div>
      <div class="my-6 sm:my-10">
        <input
          type="text"
          id="description"
          name="description"
          formControlName="description"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Descripcion de la obra ... "
          required
        />
        <div
        class="text-red-700"
        *ngIf="
          workForm.controls['description'].invalid &&
          (workForm.controls['description'].touched ||
            isFormSubmitted ||
            workForm.controls['description'].dirty)
        "
      >
        <span *ngIf="workForm.controls['description'].errors?.['required']"
          >Este Campo es Obligatorio</span
        >
      </div>
      </div>
      <div class="my-6 sm:my-10">
        <input
          type="number"
          id="high"
          name="higt"
          formControlName="higt"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Alto (cm) "
          required
        />
        <div
        class="text-red-700"
        *ngIf="
          workForm.controls['higt'].invalid &&
          (workForm.controls['higt'].touched ||
            isFormSubmitted ||
            workForm.controls['higt'].dirty)
        "
      >
        <span *ngIf="workForm.controls['higt'].errors?.['required']"
          >Este Campo es Obligatorio</span
        >
      </div>
      </div>
      <div class="my-6 sm:my-10">
        <input
          type="number"
          id="broad"
          name="broad"
          formControlName="broad"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Ancho (cm) "
          required
        />
        <div
        class="text-red-700"
        *ngIf="
          workForm.controls['broad'].invalid &&
          (workForm.controls['broad'].touched ||
            isFormSubmitted ||
            workForm.controls['broad'].dirty)
        "
      >
        <span *ngIf="workForm.controls['broad'].errors?.['required']"
          >Este Campo es Obligatorio</span
        >
      </div>
      </div>
      <div class="my-6 sm:my-10">
        <input
          type="number"
          id="deth"
          name="deth"
          formControlName="deth"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Profundidad (cm)"
        />
      </div>
      <div class="flex justify-around items-end mt-auto">
        <app-button-custom
        (click)="back()"
          buttonText="Cerrar Sesion"
          route="/login"
          [typeButton]="false"
        ></app-button-custom>
        <app-button-custom
          (click)="onSubmit()"
          buttonText="Continuar"
          route="/work-item"
          [typeButton]="true"
        ></app-button-custom>
      </div>
    </form>
  </div>
</div>

</div>
