<div
  class="flex flex-col bg-white shadow-2xl rounded-2xl md:flex-row sm:mt-10 lg:mt20"
>
  <!-- Left Side -->
  <div class="p-6 md:p-10">
    <!-- Top Content -->
    <h2 class="font-mono mb-5 text-xl lg:text-4xl font-bold">Registrar</h2>
    <input
      type="name"
      class="w-full p-4 border border-gray-300 rounded-md placeholder:font-sans placeholder:font-light"
      placeholder="Ingresa tu nombre completo"
    />
    <input
      type="email"
      class="w-full p-4 border border-gray-300 rounded-md placeholder:font-sans placeholder:font-light mt-5 sm:mt-5"
      placeholder="Ingresa tu correo electronico"
    />
    <input
      type="password"
      class="w-full p-4 border border-gray-300 rounded-md placeholder:font-sans placeholder:font-light mt-5 sm:mt-5"
      placeholder="Ingresa tu contraseña"
    />

    <!-- Middle Content -->
    <div
      class="flex flex-col items-center justify-between mt-6 space-y-6 md:flex-row md:space-y-0"
    >

      <button
        class="w-full md:w-auto flex justify-center items-center p-4 space-x-4 font-sans font-bold text-white rounded-md shadow-lg px-9 bg-lime-700 hover:bg-opacity-90 hover:shadow-lg border transition hover:-translate-y-0.5 duration-150"
      >
        <span>Obtener Codigo</span>
    </button>
    <input
      type="number"
      class="lg:w-1/2 md:ml-5 w-full p-6 border border-gray-300 rounded-md placeholder:font-sans placeholder:font-light text-xl lg:text-2xl"
      placeholder="Ingresa tu codigo"
    />
    </div>
    <button
        class="w-full flex justify-center items-center mt-3 sm:mt-5  p-4 space-x-4 font-sans font-bold text-white rounded-md shadow-lg px-9 bg-blue-500 shadow-blue-100 hover:bg-opacity-90 hover:shadow-lg border transition hover:-translate-y-0.5 duration-150"
      >
        <span>Iniciar Sesion</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-7"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="5" y1="12" x2="19" y2="12" />
          <line x1="13" y1="18" x2="19" y2="12" />
          <line x1="13" y1="6" x2="19" y2="12" />
        </svg>
    </button>
    <!-- Bottom Buttons Container -->
    <div class="">
        <button
        class="w-full flex justify-center items-center mt-3 sm:mt-5  p-4 space-x-4 font-sans font-bold text-white rounded-md shadow-lg px-9 bg-red-400 shadow-blue-100 hover:bg-opacity-90 hover:shadow-lg border transition hover:-translate-y-0.5 duration-150" routerLink="/login"
      >
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M5 12l4 4" />
        <path d="M5 12l4 -4" />
      </svg>
        <span>Volver</span>
    </button>
    </div>
  </div>

  <!-- Right Side -->
  <img
    src="assets/img/obra.jpeg"
    alt=""
    class="w-[430px] hidden md:block md:rounded-r-2xl"
  />

</div>

