<app-title></app-title>
<div class="p-5">
 
 <app-sub-title title="Procedencia"></app-sub-title>
 
  <div>
    <form class="max-w-sm mx-auto">
        <div class="my-6 sm:my-10">
            <label for="country">País:</label>
            <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 lg:p-2.5" name="country" [(ngModel)]="selectedCountry" (change)="onCountrySelect()">
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
              
        </div>
        <div class="my-6 sm:my-10">
            <label for="city">Ciudades:</label>
            <select id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 lg:p-2.5" name="city">
              <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
            </select>
          </div>
          <div class="my-6 sm:my-10">
            <label for="city">Estado legal:</label>
            <select [(ngModel)]="selectedOption" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 lg:p-2.5" id="stateActual" name="stateActual">
                <option *ngFor="let opcion of options" [value]="opcion">{{ opcion }}</option>
              </select>
          </div>
      </form>
  </div>

 
  <div class="flex justify-around items-end mt-auto">
    <app-button-custom
      buttonText="Atras"
      route="/work-surface"
      [typeButton]="false"
    ></app-button-custom>
    <app-button-custom
      buttonText="Continuar"
      route="/work-location"
      [typeButton]="true"
    ></app-button-custom>
  </div>
</div>


