<div class="grid grid-cols-1">
    <div class="border-b border-gray-800 mt-2 sm:mt-4">
        <h3 class="text-2xl font-bold text-center mt-2">Bienvenido a REGOM</h3>
      </div>
      <div class="px-5 mt-7 sm:mt-9">
        <img
          src="./assets/img/background.png"
          alt=""
          class="p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        />
      </div>
      <div class="flex justify-center items-center mt-3 sm:mt-5">
        <app-button-custom buttonText="Continuar" route="/person" [typeButton]="true"></app-button-custom>
      </div>
</div>
